body{
    background: #e1e8ed;
    overflow-y: hidden;
}

a{
    color: #2A3F54;
}



/*custom scrollbar --START--*/

/* width */
.columnScrollbar::-webkit-scrollbar {
    width: 8px;
    height: 0;
    border-radius: 10px;
}

/* Track */
.columnScrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.columnScrollbar::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 10px;
}

/* Handle on hover */
.columnScrollbar::-webkit-scrollbar-thumb:hover {
    background: #7d94aa;
}
/*custom scrollbar --END--*/



/*Loading gif --START--*/
.lds-ring {
    margin: auto;
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 8px 8px 8px 7.3rem;
    border: 2px solid #000000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*loading gif --END--*/


/*Remove arrow from Bootstrap Dropdown*/

.dropdown-toggle::after {
    content: none !important;
}

/*Set Dropdown offset*/
.dropright .dropdown-menu{
    margin-left: 5.6rem;
}

/*Odra CD*/
.odra-color{
    color: rgb(29, 161, 242);
}

.odra-color:hover{
    color: black;
}

.odra-bg-color{
    background-color: rgb(29, 161, 242);
}


/*Comment System*/

.comment{
    position: absolute;
    padding: 1rem 1rem 1rem 1.35rem;
    width: 90%;
    background-color: white;
    border: solid lightgrey thin;
    border-radius: 8px;
    transition:left 0.25s ease-in, height 0.25s ease-in;
    cursor: pointer;
    left: 1rem;
    height: auto;
}


.comment:hover{
    box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 10000;
}

.shadow{
    box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 10000;
}

.comment.active{
    left: -0.8rem;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition:left 0.25s ease-in, height 0.25s ease-in;
    border-radius: 8px;
    width: 92%;
    z-index: 9999;
    height: auto;

}



